.product .card {
    width: 500px;
    border: none;
    height: 450px;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    
}

.p-info {
    display: flex;
    justify-content: space-between
}

.p-price {
    position: absolute;
    right: 10px;
    top: 20px
}

.heart i {
    font-size: 50px;
    opacity: 0;
    color: red
}

.heart i:hover {
    color: red
}

.p-image img {
    width: 240px;
    transform: rotate(15deg);
    transition: all 0.5s
}

.product .card:hover .heart i {
    animation: heart 300ms ease-in forwards;
    animation-delay: 500ms
}

.p-about {
    position: absolute;
    width: 200px;
    font-size: 14px;
    top: 140px;
    left: -125px;
    opacity: 0
}

.product .card:hover .p-about {
    animation: content 300ms ease-in forwards
}

@keyframes content {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1;
        left: 25px
    }
}

@keyframes heart {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.product .card:hover .p-image img {
    animation: onimage 300ms ease-in forwards
}

.product .card:hover .p-price {
    animation: onprice 500ms ease-in forwards
}

@keyframes onprice {
    0% {
        right: 10px;
        top: 20px
    }

    50% {
        right: 60px;
        top: 30px
    }

    100% {
        right: 200px;
        top: 70px
    }
}

@keyframes onimage {
    0% {
        width: 250px
    }

    50% {
        width: 200px;
        transform: translateY(-30px);
        transform: translateX(100px)
    }

    100% {
        width: 100px;
        top: 100px;
        transform: translateY(100px);
        transform: translateX(90px)
    }
}

.buttons {
    position: absolute;
    bottom: -150px
}

.product .card:hover .buttons {
    animation: buttons 500ms ease-in forwards
}

@keyframes buttons {
    0% {
        bottom: -100px
    }

    100% {
        bottom: 20px
    }
}

.product .btn {
    height: 50px;
    font-size: 16px;
    width: 110px !important;
    font-weight: 600
}
@media only screen and (max-width:768px){
    /* .product .card:hover .p-image img {
        display: none;
    } */

    .p-about {
        width: 150px;
        font-size: 12px;
        
    }
}