.pending,.processing{
    /* background-color:orange !important; */
    color:darkorange;
 
}
.ongoing,.shipped{
    color:slateblue;

}
.complete{
    /* background-color:green !important; */
        color:green ;
        
}

.pending,.processing,.ongoing,.shipped,.complete{
    border:0;
    padding-right:0;
    padding-left:0;
    font-weight:700;
    text-align: center;
}